@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-bold.ttf');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-style: normal;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
    font:inherit;
}
/* -----HEADER----*/
.header-wrapper {
    width: 100%;
    height: 57px;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
} 
.header-wrapper-black {
    width: 100%;
    height: 34px;
    background-color: #20242D;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
} 
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link {
    position: relative;
}
.header-link:nth-child(1) {
    margin-left: auto;
}
.header-link.link-mail::before,
.header-link.link-phone::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    left: -21px;
}
.header-link.link-mail::before {
    background-image: url('../image/envelope.svg');
}
.header-link.link-phone::before {
    background-image: url('../image/phone.svg');
}
.header-list a {
    color: white;
    text-align: right;
}
.nav-item {
    margin-right: 56px;
    color: #000;
}
.nav-item:last-child {
    margin: o; /*Похоже не срабатывает*/
}
.active {
    color: #FF7129;
    position: relative;
}
.active::before,
.active::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 8px;
}
.active::before {
    left: -18px;
}
.active::after {
    right: -18px;
}
span.tel {
    font-weight: 500;
}
.list-body {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;  
}
.header-body a {
    color: #20242D;
    text-align: right; 
}
.logo {
    margin: 12px 826px 11px 0px;
}
.container-img {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 271px;
    padding-bottom: 290px;
    background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url('../image/solar_panels.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /*width: 100%;*/
    /*eight: 844px;*/
    text-align: center;
    color: white;
}
.container-img::before,
.container-img::after {
    position: absolute;
    content: "";
    height: 145px;
    background-repeat: no-repeat;
}
.container-img::before {
    width: 379px;
    background-image: url('../image/solar.png');
    left: 50px;
    top: 167px;
}
.container-img::after {
    width: 444px;
    background-image: url('../image/energy.png');
    right: 50px;
    bottom: 282px;
}
.main-title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 92px;
    line-height: 111px;
    top: 271px;
    /*text-align: center;
    padding: 271px 319px 16px 320px;*/
}  
.main-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /*text-align: center;*/
    display: block;
    margin: 0 auto;
    width: 508px;
    margin-bottom: 25px;
    padding: 0px 546px 59px;
}
.body_botton {
    margin: 0 auto;
    min-width: 187px;
    height: 49px;
    font-weight: bold;
    /*font-size: 14px;
    line-height: 17px;*/
    text-align: center;
    background: #FF7129;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    display: block;
}
.body_botton:hover {
    background: #D35E22;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}
.main-text {
    position: relative;
    display: flex;
    max-width: 1200px;
    height: 600px;
    width: 100%;
    margin: 132px auto;
}
.main-text::after {
    position: absolute;
    content: "";
    width: 535px;
    height: 606px;
    background-image: url('../image/construction_main.png');
    background-repeat: no-repeat;
    margin-top: -33px;
    margin-left: -170px;
}
.text {
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    padding-top: 25px;
}
.text::before {
    position: absolute;
    content: "";
    width: 217px;
    height: 116px;
    background-image: url('../image/info.png');
    background-repeat: no-repeat;
    margin-left: 28px;
    padding-left: 67px;
}
.main-title2 {
    position: relative;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    padding: 0 10px; 
    margin: 0 56px;
    padding-top: 47px;
}
.main-title2::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: 0;
}
.text-discribe {
    width: 535px;
    min-height: 216px;
    margin: 0 50px;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;

}
/* ----FOOTER---*/
.footer {
    background-color: #20242D;
    width: 100%;
    min-width: 1600px; 
    height: 207px;
    margin: o auto;
}
.footer_body {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: white; 
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.container.container_footer {
    justify-content: space-around;
    text-align: center;
}
.nav-item-footer a{
    margin-right: 56px;
    text-align: center;
}
.nav-footer {
    
}




.footer_botton {
    width: 187px;
    height: 49px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #20242D;
    color: white;
    border: 1px solid #FF7129;
}
.footer-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-low a{
    color: white;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}