@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-bold.ttf');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-style: normal;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
.address {
}
a {
    text-decoration: none;
}
.header-wrapper {
    width: 100%;
    height: 57px;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
} 
.header-wrapper-black {
    width: 100%;
    height: 34px;
    background-color: #20242D;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
} 
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link {
    position: relative;
}
.header-link:nth-child(1) {
    margin-left: auto;
}
.header-link::before {
    position: absolut;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url('../image/envelope.svg');
    background-position: center;
    background-repeat: no-repeat;
    left: -21px;
    top: 3px;
    
}
.header-link:last-child::before {
    background-image: url('../image/phone.svg');
}
.header-list a {
    color: white;
    text-align: right;
}
.nav-item {
    margin-right: 56px;
}
.active {
    color: #FF7129;
}
.nav-item-footer a{
    margin-right: 56px;
    color: white;
    text-align: center;
}

.nav-item:last-child {
    margin: o;
}

span.tel{
    font-weight: 500;
}
.nav-footer {
    
}
.list-body {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
.header-body a {
    color: #20242D;
    text-align: right; 
}
.logo {
    margin: 12px 826px 11px 0px;
}
.container-img {
    background-image: url('../image/solar_panels.jpg');
    width: 100%;
    max-width: 1600px;
    height: 844px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.img-content {
    
}
.img-text {
   
    
    
}
.h1-main {
    margin: 0;
    font-weight: 700;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    padding: 271px 319px 16px 320px;
}  
.works {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: block;
    padding: 0px 546px 59px;
}
.main-text {
    display: flex;
    max-width: 1200px;
    height: 600px;
    width: 100%;
    margin: 200px auto;
}
.h2-main {
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    /*border-left-color: #FF7129; 
    border-left-style: solid; 
    border-left-width: 1px; */
    padding: 0 10px; 
    margin: 0 50px;
   
}
.h2-main: ::before {
    content:
}
.text-discribe {
    margin: 0 50px;
}
.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    padding: 50px 0px 0px 0px;
}
.body_botton {
    margin: auto;
    width: 187px;
    height: 49px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #FF7129;
    color: white;
    border: 1px solid #FF7129;
    
}
.footer {
    background-color: #20242D;
    width: 100%;
    min-width: 1600px; 
    height: 207px;
}
.footer_body {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
}
.footer-body a {
    color: #FFFFFF;
    text-align: center;
}
.footer_botton {
    width: 187px;
    height: 49px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #20242D;
    color: white;
    border: 1px solid #FF7129;
}
.footer-low a{
    color: white;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}